.cardWrapper {
  width: 300px;
  aspect-ratio: 1 / 1;
  background: var(--glass);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  color: var(--text);
  padding: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  gap: 10px;
}

.cardWrapper.show {
  transition: all 0.25s ease-in-out;
  animation: slideIn;
  animation-duration: 1.5s;
  animation-delay: 0 !important;
  animation-fill-mode: forwards;
  animation-direction: normal;
  opacity: 0;
}

.cardWrapper.hide {
  transition: all 0.25s ease-in-out;
  animation: slideOut;
  animation-duration: 1.5s;
  animation-delay: 0 !important;
  animation-fill-mode: forwards;
  animation-direction: normal;
  opacity: 1;
}

.cardWrapper:hover,
.cardWrapper:focus-within {
  box-shadow: inset 0px -1px 1px var(--secondary), inset 0px 1px 1px var(--primary);
  margin-top: -10px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  99% {
    opacity: 0;
    transform: translateY(50px);
    display: none !important;
  }

  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.imageWrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  filter: saturate(0);
  -webkit-filter: saturate(0);
  transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -ms-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
}

.title {
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin: 0 auto;
  font-weight: 600;
}

.cardFooter {
  margin-top: auto;
  gap: 20px;
}

.cardFooter button {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 600;
}


.cardWrapper:hover .imageWrapper {
  filter: unset;
  -webkit-filter: unset;
}

.skillsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  color: var(--light-grey);
}

.desc {
  overflow: auto;
  font-size: 0.75rem;
}

@media screen and (max-width: 499px) {
  .cardWrapper {
    width: 90vw;
    height: auto;
  }

  .cardFooter {
    margin-top: 10px;
  }
}