.contentWrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.imgWrapper {
    width: 40vw;
    max-width: 500px;
    min-width: 275px;
}

.text {
    color: var(--dark);
    text-align: center;
    padding: 0 0 20px 0;
}

.text h1 {
    font-size: 3rem;
    max-height: 50vw;
    max-width: 90vw;
}

.subtext {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
    color: var(--text);
    margin: 20px 0 40px;
}

.stack {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    /* background-color: var(--glass); */
    content: '';
    display: block;
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: inset 0px -10px 40px var(--secondary), inset 0px 0px 40px var(--primary);
    user-select: none;
}

.cards {
    perspective: 750px;
    perspective-origin: 50% 50%;
    display: block;
    position: relative;
    aspect-ratio: 1 / 1;
    z-index: 2;
}


.cards button {
    opacity: 0;
    content: '';
    display: flex;
    height: clamp(100px, 50%, 80%);
    aspect-ratio: 3.5 / 2;
    position: absolute;
    background-color: var(--glass);
    border: 1px solid var(--border);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transform: rotateX(55deg) rotateZ(30deg) translate(-82%, -70%);
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    box-shadow: 10px 10px 10px #0c0c0c7e;
    cursor: pointer;
    top: 50%;
    left: 50%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-transform: rotateX(55deg) rotateZ(30deg) translate(-82%, -70%);
    -moz-transform: rotateX(55deg) rotateZ(30deg) translate(-82%, -70%);
    -ms-transform: rotateX(55deg) rotateZ(30deg) translate(-82%, -70%);
    -o-transform: rotateX(55deg) rotateZ(30deg) translate(-82%, -70%);
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: var(--glass-blur);
}

.cards button {
    color: transparent;
}

.cards button svg {
    font-size: 40px;
    color: var(--text);
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}

.cards button:nth-of-type(1) {
    z-index: 4;
    animation: drop4 1s forwards 1;
    -webkit-animation: drop4 1s forwards 1;
    animation-delay: 2.25s;
    animation-timing-function: ease-in-out;
}

.cards button:nth-of-type(2) {
    z-index: 3;
    animation: drop3 1s forwards 1;
    -webkit-animation: drop3 1s forwards 1;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out
}

.cards button:nth-of-type(3) {
    z-index: 2;
    animation: drop2 1s forwards 1;
    -webkit-animation: drop2 1s forwards 1;
    animation-delay: .75s;
    animation-timing-function: ease-in-out
}

.cards button:nth-of-type(4) {
    z-index: 1;
    animation: drop1 1s forwards 1;
    -webkit-animation: drop1 1s forwards 1;
    animation-timing-function: ease-in-out
}

.cards button.active {
    z-index: 10;
    background-color: var(--primary);
    color: white;
    aspect-ratio: 3.5 / 2;
    transform: rotateX(0deg) rotateZ(20deg) rotateY(-15deg) translate(-80%, -60%) scale(.95);
    -webkit-transform: rotateX(0deg) rotateZ(20deg) rotateY(-15deg) translate(-80%, -60%) scale(.95);
    -moz-transform: rotateX(0deg) rotateZ(20deg) rotateY(-15deg) translate(-80%, -60%) scale(.95);
    -ms-transform: rotateX(0deg) rotateZ(20deg) rotateY(-15deg) translate(-80%, -60%) scale(.95);
    -o-transform: rotateX(0deg) rotateZ(20deg) rotateY(-15deg) translate(-80%, -60%) scale(.95);
    backdrop-filter: opacity(80%);
}

.cards:hover button:hover {
    border: 1px solid var(--primary);
    /* background: radial-gradient(var(--glass) 40%, var(--pri)); */
    background: var(--primary);
    color: white;
}

.cards:hover button:hover svg,
.cards button.active svg {
    color: white;
}

@keyframes drop1 {
    0% {
        opacity: 0;
        margin-top: 0px;
    }

    70% {
        margin-top: 125px;
    }

    100% {
        opacity: 1;
        margin-top: 100px;
    }
}

@keyframes drop2 {
    0% {
        opacity: 0;
        margin-top: -50px;
    }

    70% {
        margin-top: 75px;
    }

    100% {
        opacity: 1;
        margin-top: 50px;
    }
}

@keyframes drop3 {
    0% {
        opacity: 0;
        margin-top: -100px;
    }

    70% {
        margin-top: 25px;
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes drop4 {
    0% {
        opacity: 0;
        margin-top: -150px;
    }

    70% {
        margin-top: -25px;
    }

    100% {
        opacity: 1;
        margin-top: -50px;
    }
}

.cards:hover button:nth-of-type(1) {
    top: calc(50% - 15%);
}

.cards:hover button:nth-of-type(2) {
    top: calc(50% - 5%);
}

.cards:hover button:nth-of-type(3) {
    top: calc(50% + 5%);
}

.cards:hover button:nth-of-type(4) {
    top: calc(50% + 15%);
}

.languages {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 40px;
    color: var(--text);
    transform: translate(-50%, -50%) rotate(-20deg);
    -webkit-transform: translate(-50%, -50%) rotate(-20deg);
    -moz-transform: translate(-50%, -50%) rotate(-20deg);
    -ms-transform: translate(-50%, -50%) rotate(-20deg);
    -o-transform: translate(-50%, -50%) rotate(-20deg);
    width: 122%;
    user-select: none;
    height: 122%;
    z-index: 1;
    opacity: 0;
    animation: spin 1 forwards 3s ease-in-out;
    -webkit-animation: spin 1 forwards 3s ease-in-out;
}

@keyframes spin {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(-20deg);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        -moz-transform: translate(-50%, -50%) rotate(0deg);
        -ms-transform: translate(-50%, -50%) rotate(0deg);
        -o-transform: translate(-50%, -50%) rotate(0deg);
}
}

.circleArm {
    /* background-color: silver; */
    width: 100%;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.circleArm:nth-of-type(1) {
    transform: translate(-50%, -50%) rotate(51.42deg);
    -webkit-transform: translate(-50%, -50%) rotate(51.42deg);
    -moz-transform: translate(-50%, -50%) rotate(51.42deg);
    -ms-transform: translate(-50%, -50%) rotate(51.42deg);
    -o-transform: translate(-50%, -50%) rotate(51.42deg);
}
.circleArm:nth-of-type(1) svg {
    transform: rotate(-51.42deg);
    -webkit-transform: rotate(-51.42deg);
    -moz-transform: rotate(-51.42deg);
    -ms-transform: rotate(-51.42deg);
    -o-transform: rotate(-51.42deg);
}
.circleArm:nth-of-type(2) {
    transform: translate(-50%, -50%) rotate(102.85deg);
    -webkit-transform: translate(-50%, -50%) rotate(102.85deg);
    -moz-transform: translate(-50%, -50%) rotate(102.85deg);
    -ms-transform: translate(-50%, -50%) rotate(102.85deg);
    -o-transform: translate(-50%, -50%) rotate(102.85deg);
}
.circleArm:nth-of-type(2) svg {
    transform: rotate(-102.85deg);
    -webkit-transform: rotate(-102.85deg);
    -moz-transform: rotate(-102.85deg);
    -ms-transform: rotate(-102.85deg);
    -o-transform: rotate(-102.85deg);
}
.circleArm:nth-of-type(3) {
    transform: translate(-50%, -50%) rotate(154.28deg);
    -webkit-transform: translate(-50%, -50%) rotate(154.28deg);
    -moz-transform: translate(-50%, -50%) rotate(154.28deg);
    -ms-transform: translate(-50%, -50%) rotate(154.28deg);
    -o-transform: translate(-50%, -50%) rotate(154.28deg);
}
.circleArm:nth-of-type(3) svg {
    transform: rotate(-154.28deg);
    -webkit-transform: rotate(-154.28deg);
    -moz-transform: rotate(-154.28deg);
    -ms-transform: rotate(-154.28deg);
    -o-transform: rotate(-154.28deg);
}
.circleArm:nth-of-type(4) {
    transform: translate(-50%, -50%) rotate(205.71deg);
    -webkit-transform: translate(-50%, -50%) rotate(205.71deg);
    -moz-transform: translate(-50%, -50%) rotate(205.71deg);
    -ms-transform: translate(-50%, -50%) rotate(205.71deg);
    -o-transform: translate(-50%, -50%) rotate(205.71deg);
}
.circleArm:nth-of-type(4) svg {
    transform: rotate(-205.71deg);
    -webkit-transform: rotate(-205.71deg);
    -moz-transform: rotate(-205.71deg);
    -ms-transform: rotate(-205.71deg);
    -o-transform: rotate(-205.71deg);
}
.circleArm:nth-of-type(5) {
    transform: translate(-50%, -50%) rotate(257.14deg);
    -webkit-transform: translate(-50%, -50%) rotate(257.14deg);
    -moz-transform: translate(-50%, -50%) rotate(257.14deg);
    -ms-transform: translate(-50%, -50%) rotate(257.14deg);
    -o-transform: translate(-50%, -50%) rotate(257.14deg);
}
.circleArm:nth-of-type(5) svg {
    transform: rotate(-257.14deg);
    -webkit-transform: rotate(-257.14deg);
    -moz-transform: rotate(-257.14deg);
    -ms-transform: rotate(-257.14deg);
    -o-transform: rotate(-257.14deg);
}
.circleArm:nth-of-type(6) {
    transform: translate(-50%, -50%) rotate(308.57deg);
    -webkit-transform: translate(-50%, -50%) rotate(308.57deg);
    -moz-transform: translate(-50%, -50%) rotate(308.57deg);
    -ms-transform: translate(-50%, -50%) rotate(308.57deg);
    -o-transform: translate(-50%, -50%) rotate(308.57deg);
}
.circleArm:nth-of-type(6) svg {
    transform: rotate(-308.57deg);
    -webkit-transform: rotate(-308.57deg);
    -moz-transform: rotate(-308.57deg);
    -ms-transform: rotate(-308.57deg);
    -o-transform: rotate(-308.57deg);
}
.circleArm:nth-of-type(7) {
    transform: translate(-50%, -50%) rotate(360deg);
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    -moz-transform: translate(-50%, -50%) rotate(360deg);
    -ms-transform: translate(-50%, -50%) rotate(360deg);
    -o-transform: translate(-50%, -50%) rotate(360deg);
}
.circleArm:nth-of-type(7) svg {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.languages svg {
    transition: transform ease-in-out .25s, opacity .25s ease-in-out;
    animation: idk 1 .5s ease-in-out;
    -webkit-animation: idk 1 .5s ease-in-out;
    box-shadow: inset 0px -2px 10px var(--secondary), inset 0px 0px 10px var(--primary);
    padding: 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transition: transform ease-in-out .25s, opacity .25s ease-in-out;
    -moz-transition: transform ease-in-out .25s, opacity .25s ease-in-out;
    -ms-transition: transform ease-in-out .25s, opacity .25s ease-in-out;
    -o-transition: transform ease-in-out .25s, opacity .25s ease-in-out;
}

.show {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

@keyframes float {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }

    100% {
        transform: translateY(10%);
        -webkit-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -ms-transform: translateY(10%);
        -o-transform: translateY(10%);
    }
}

@media screen and (max-width: 1024px) {
    .contentWrapper {
        flex-direction: column;
        justify-content: center;
        gap: 80px;
        padding: 100px 0 40px;
    }

    .languages {
        font-size: 40px;
        color: var(--text);
        position: absolute;
        top: 50%;
        left: 50%;
        right: unset;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        gap: 30px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        height: 40px;
        flex-wrap: wrap;
        width: 130%;
        justify-content: center;
}

    .languages svg {
        animation: idk 1 .5s ease-in-out;
        -webkit-animation: idk 1 .5s ease-in-out;
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    @keyframes drop1 {
        0% {
            opacity: 0;
            margin-top: 0px;
        }
    
        70% {
            margin-top: 125px;
        }
    
        100% {
            opacity: 1;
            margin-top: 100px;
        }
    }
    
    @keyframes drop2 {
        0% {
            opacity: 0;
            margin-top: -50px;
        }
    
        70% {
            margin-top: 75px;
        }
    
        100% {
            opacity: 1;
            margin-top: 50px;
        }
    }
    
    @keyframes drop3 {
        0% {
            opacity: 0;
            margin-top: -100px;
        }
    
        70% {
            margin-top: 25px;
        }
    
        100% {
            opacity: 1;
            margin-top: 0px;
        }
    }
    
    @keyframes drop4 {
        0% {
            opacity: 0;
            margin-top: -150px;
        }
    
        70% {
            margin-top: -25px;
        }
    
        100% {
            opacity: 1;
            margin-top: -50px;
        }
    }
}


@keyframes idk {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}