.modalWrapper {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 5vw;
}

.modalBg {
    background-color: var(--bg-transparent);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    cursor: pointer;
    outline: none;
    animation: FadeIn;
    animation-duration: .25s;
    animation-delay: 0 !important;
    animation-fill-mode: forwards;
    animation-direction: normal;
    opacity: 0;
    border: none;
}

.modal {
    background: var(--glass);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: blur(8.9px);
    border: 2px solid var(--border);
    display: flex;
    flex-direction: column;
    color: var(--text);
    padding: 10px;
    width: 100%;
    max-width: 750px;
    max-height: 80vh;
    z-index: 1001;
    animation: popIn 1s forwards 1;
    -webkit-animation: popIn .25s forwards 1;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.modal :global(.carousel-root) {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
}

.closeModal {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    position: absolute;
    top: -5%;
    right: -5%;
    cursor: pointer;
    text-align: center;
    color: var(--text);
    font-size: 20px;
    background-color: var(--secondary);
    padding: 5px;
    width: 30px;
    aspect-ratio: 1/1;
    color: var(--button-text);
}

.topRow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    gap: 10px;
}

.icons {
    display: flex;
    gap: 10px;
}

.details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

.details .desc {
    overflow-y: auto;
    width: 100%;
    margin: 0 20px 20px 0;
}

.details ul {
    overflow-y: auto;
    min-width: 15%;
}

.details ul li {
    list-style: none;
}

.languages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    overflow-x: scroll;
    max-width: 50vw;
}

.languages button {
    background: transparent;
    color: var(--text);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
    gap: 10px;
}

.languages button:hover,
.languages button:focus {
    background-color: var(--bg);
}

.languages button:focus svg {
    color: var(--secondary);
} 

.languages button:focus {
    width: fit-content;
    padding: 10px;
}

.languages button p {
    font-size: 14px;
    display: none;
    text-transform: capitalize;
}

.languages button:focus p {
    display: unset;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.links a {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: var(--button-text);
    text-decoration: none;
    font-weight: 400;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
}

60% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}