@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #00b7ff;
    --primary-hover: #0082b6;
    --secondary: #e910de;
    --dark: #e4e4e4;
    --white: #252525;
    --grey: #e4e4e4;
    --light-grey: #c2c2c2;
    --bg: #0c0427;
    --bg-transparent: #03071ec5;
    --glass-blur: blur(20px);
    --text: white;
    --glass: rgba(102, 102, 102, 0.35);
    --border: rgba(255, 255, 255, 0.25);
    --button: rgba(71, 71, 71, 0.644);
    --button-text: white
  }
  
  body::before {
    opacity: .25
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: #00b7ff;
    --primary-hover: #0082b6;
    --secondary: #e910de;
    --dark: #e4e4e4;
    --white: #252525;
    --grey: #e4e4e4;
    --light-grey: #c2c2c2;
    --bg: #edebf1;
    --bg-transparent: #edebf1bb;
    --glass-blur: blur(20px);
    --text: rgb(34, 33, 33);
    --glass: rgba(184, 184, 184, 0.35);
    --border: rgba(255, 255, 255, 0.25);
    --button: rgba(71, 71, 71, 0.644);
    --button-text: white
  }

  body::before {
    opacity: 1
  }
}

.hamburger-react div {
  background: var(--text) !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--bg);
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

*:focus {
  outline: 1px solid var(--secondary);
}

body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../public/images/pexels-pixabay-53594.jpg);
  background-position: center;
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: saturate(0);
  -webkit-filter: saturate(0);
  mix-blend-mode: overlay;
}

body {
  position: relative;
}

body:has(.linkWrapperMobile .show) {
  overflow: hidden;
}

main {
  width: 1200px;
  max-width: 90vw;
  margin: auto;
  position: relative;
  background-color: var(--bg);
  box-shadow: var(--bg) 0 0 50px 50px;
}

h1, h2 {
  text-transform: uppercase;
  color: var(--text);
}

.glowLight {
  position: absolute;
  content: "";
  width: 1px;
  height: 1px;
  border-radius: 100%;
  z-index: 0;
  opacity: 0.25;
}

.glowLight:nth-of-type(1) {
  top: 0;
  left: 0;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.glowLight:nth-of-type(2) {
  top: 100vh;
  right: 0;
  border-radius: 100%;
  animation-name: example2;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}

.glowLight:nth-of-type(3) {
  top: 200vh;
  left: 0;
  border-radius: 100%;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.glowLight:nth-of-type(4) {
  top: 300vh;
  right: 0;
  animation-name: example2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.glowLight:nth-of-type(5) {
  top: 400vh;
  left: 0;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.hamburger-react div {
  background: var(--text);
}

.hamburger-react:focus {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes example {
  0% {
    box-shadow: 0 0 500px 250px var(--primary);
  }

  50% {
    box-shadow: 0 0 500px 175px var(--primary);
  }

  100% {
    box-shadow: 0 0 500px 250px var(--primary);
  }
}

@keyframes example2 {
  0% {
    box-shadow: 0 0 500px 250px var(--secondary);
  }

  50% {
    box-shadow: 0 0 500px 175px var(--secondary);
  }

  100% {
    box-shadow: 0 0 500px 250px var(--secondary);
  }
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: var(--lightest-grey);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-grey);
  border-radius: 10px;
}

.slideIn {
  animation: slideIn;
  animation-duration: 1.5s;
  animation-delay: 0 !important;
  animation-fill-mode: forwards;
  animation-direction: normal;
  opacity: 0;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


input,
textarea {
  min-height: 32px;
  border-radius: 10px;
  border: 1px solid var(--border);
  text-indent: 10px;
  color: var(--text);
  background-color: var(--glass);
  box-shadow: var(--glass-shadow);
}

textarea {
  resize: none;
  max-height: 500px;
  min-height: 300px;
  padding: 10px;
  text-indent: 0;
}

label {
  padding-left: 10px;
  color: var(--text);
  text-transform: uppercase;
  font-size: .75rem;
  margin-bottom: 5px;
}

.button {
  background-color: var(--primary);
  padding: 10px 15px;
  color: var(--button-text);
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-weight: 600;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.chevron {
  position: absolute;
  bottom: 5vh;
  background-color: var(--primary);
  color: var(--button-text);
  font-weight: 600;
  font-size: 24px;
  border: 1px solid var(--border);
  width: 40px;
  aspect-ratio: 1 / .75;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  left: calc(50% + 600px - 40px);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .chevron {
    display: none;
  }
}

@keyframes glowHover {
  0% {
    box-shadow: 0 0 10px var(--primary), inset 0 0 10px var(--primary);
  }

  50% {
    box-shadow: 0 0 25px var(--primary), inset 0 0 12px var(--primary);
  }

  100% {
    box-shadow: 0 0 10px var(--primary), inset 0 0 10px var(--primary);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px var(--secondary), inset 0 0 10px var(--secondary);
  }

  50% {
    box-shadow: 0 0 25px var(--secondary), inset 0 0 12px var(--secondary);
  }

  100% {
    box-shadow: 0 0 10px var(--secondary), inset 0 0 10px var(--secondary);
  }
}