.footer {
    color: var(--dark);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.linkWrapper {
    display: flex;
    gap: 10px;
}

.linkWrapper svg {
    color: var(--dark);
    font-size: 1.25em;
    transition: .25s ease-in-out;
}

.linkWrapper svg:hover {
    filter: drop-shadow(0 0 10px var(--primary));
}

.footer p {
    color: var(--grey);
}

@media screen and (max-width: 364px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
}