.navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
    left: 0;
    background-color: var(--glass);
    backdrop-filter: var(--glass-blur);
    border-bottom: 2px solid var(--border);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    gap: 40px;
    position: relative;
}

.link {
    color: var(--text);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: .25s ease-in-out;
}

.Hamburger div {
    background: var(--text)!important;
}

@media (prefers-color-scheme: dark) {

    .logo {
        fill: var(--primary);
        vertical-align: middle;
    }
}

.logo {
    margin-right: auto;
    margin-left: 10px;
}

.logo svg {
    height: 30px;
    aspect-ratio: 1 / 1;
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}


.linkWrapperMobile {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: calc(100vh - 60px);
    width: 100vw;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity .25s ease-in-out;
    transition-delay: display .25s;
    font-size: 2rem;
    font-weight: 600;
    gap: 50px;
}
.linkWrapperMobile .link {
    color: var(--text);
    /* text-shadow: 0 0 10px var(--white); */
}

.hide {
    animation: hide;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
.show {
    opacity: 1;
    display: flex;
}

@media screen and (max-width: 1200px) {
    .desktopLink {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .desktopHide {
        display: none;
    }
}

@keyframes hide {
    0% {display: flex; opacity: 1;}
    99% {display: none; opacity: 0; right: 0;}
    100% {display: none; right: 300vw;}
  }

  .desktopLink:last-of-type {
    background-color: var(--primary);
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--button-text);
}

.progress::after {
    content: '';
    display: block;
    width: 100vw;
    height: 3px;
    background: linear-gradient(90deg ,var(--primary), var(--secondary));
}

.progress {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: -2px;
    overflow: hidden;
}