.button {
    height: 40px;
    color: var(--white);
    text-decoration: none;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 10px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    margin: auto;
    animation: glow;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    border: 1px solid var(--dark);
    transition: .25s ease-in-out;
}

.button:hover {
    animation: glowHover;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes glowHover {
    0% {box-shadow: 0 0 10px var(--teal-1), inset 0 0 10px var(--teal-1);}
    50% {box-shadow: 0 0 25px var(--teal-1), inset 0 0 20px var(--teal-1);}
    100% {box-shadow: 0 0 10px var(--teal-1), inset 0 0 10px var(--teal-1);}
}

@keyframes glow {
    0% {box-shadow: 0 0 10px var(--purple-4), inset 0 0 10px var(--purple-4);}
    50% {box-shadow: 0 0 25px var(--purple-4), inset 0 0 20px var(--purple-4);}
    100% {box-shadow: 0 0 10px var(--purple-4), inset 0 0 10px var(--purple-4);}
}